DS4P/access-control-service/pep/service/src/main/resources/wsdl/FilterC32Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FilterC32Service"
	targetNamespace="http://www.samhsa.gov/ds4ppilot/contract/pep"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tsu="http://www.samhsa.gov/ds4ppilot/contract/pep"
	xmlns:di="http://www.samhsa.gov/ds4ppilot/schema/pep"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:tns="http://ws.ds4p.ehtac.va.gov/"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
	<wsp:Policy wsu:Id="XDS_HTTPS_Endpoint_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsoma:OptimizedMimeSerialization
					xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
				<sp:TransportBinding
					xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="true" />
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict />
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
				<wsaw:UsingAddressing />
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="XDS_HTTP_Endpoint_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsoma:OptimizedMimeSerialization
					xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
				<wsaw:UsingAddressing />
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.samhsa.gov/ds4ppilot/schema/pep">
		<!--xsd:import namespace="http://ws.ds4p.ehtac.va.gov/" schemaLocation="http://174.78.146.228:8080/DS4PACSServices/DS4PContextHandler?xsd=1"/-->
		<xsd:import namespace="http://ws.ds4p.ehtac.va.gov/" schemaLocation="DS4PContextHandler.xsd"/>
			
			<xsd:element name="FilterC32Request">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="patientId" type="xsd:string" />
						<xsd:element name="packageAsXdm" type="xsd:boolean" />
						<xsd:element name="senderEmailAddress" type="xsd:string" />
						<xsd:element name="recipientEmailAddress" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FilterC32Response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="patientId" type="xsd:string" />
						<xsd:element name="pdpDecision" type="xsd:string" />
						<xsd:element name="filteredStreamBody" type="xsd:base64Binary" />
						<xsd:element name="maskedDocument" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="RetrieveDocumentSetRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="homeCommunityId" type="xsd:string" />
						<xsd:element name="repositoryUniqueId" type="xsd:string" />
						<xsd:element name="documentUniqueId" type="xsd:string" />
						<xsd:element name="messageId" type="xsd:string" />
						<xsd:element name="enforcePolicy" type="tns:enforcePolicy" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RetrieveDocumentSetResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="return" type="xsd:string" />
						<xsd:element name="kekMaskingKey" type="xsd:base64Binary"/>
						<xsd:element name="kekEncryptionKey" type="xsd:base64Binary"/>
						<xsd:element name="metadata" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="RegisteryStoredQueryRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="patientId" type="xsd:string" />
						<xsd:element name="enforcePolicy" type="tns:enforcePolicy" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RegisteryStoredQueryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="return" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>
	<!-- <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
		wsu:Id="wsmtom_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"> 
		<wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/> 
		</wsp:Policy> -->
	<wsdl:message name="FilterC32Request">
		<wsdl:part element="di:FilterC32Request" name="parameters" />
	</wsdl:message>
	<wsdl:message name="FilterC32Response">
		<wsdl:part element="di:FilterC32Response" name="parameters" />
	</wsdl:message>

	<wsdl:message name="RetrieveDocumentSetRequest">
		<wsdl:part element="di:RetrieveDocumentSetRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RetrieveDocumentSetResponse">
		<wsdl:part element="di:RetrieveDocumentSetResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="RegisteryStoredQueryRequest">
		<wsdl:part element="di:RegisteryStoredQueryRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RegisteryStoredQueryResponse">
		<wsdl:part element="di:RegisteryStoredQueryResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="FilterC32ServicePortType">
		<wsdl:operation name="FilterC32">
			<wsdl:documentation>Takes a Patient ID, and returns
				whether the C32
				can be sent and formates the C32 in a format
				specified by the privacy
				policies
			</wsdl:documentation>
			<wsdl:input message="tsu:FilterC32Request" />
			<wsdl:output message="tsu:FilterC32Response" />
		</wsdl:operation>

		<wsdl:operation name="RetrieveDocumentSet">
			<wsdl:documentation>Retrieve documents from the XDS.b repository
			</wsdl:documentation>
			<wsdl:input message="tsu:RetrieveDocumentSetRequest" />
			<wsdl:output message="tsu:RetrieveDocumentSetResponse" />
		</wsdl:operation>

		<wsdl:operation name="RegisteryStoredQuery">
			<wsdl:documentation>Query XDS.b repository for patient
			</wsdl:documentation>
			<wsdl:input message="tsu:RegisteryStoredQueryRequest" />
			<wsdl:output message="tsu:RegisteryStoredQueryResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="FilterC32ServiceBinding" type="tsu:FilterC32ServicePortType">
		<wsp:PolicyReference URI="#XDS_HTTP_Endpoint_policy" />
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="FilterC32">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="RetrieveDocumentSet">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="RegisteryStoredQuery">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>
	<wsdl:service name="FilterC32Service">
		<wsdl:port binding="tsu:FilterC32ServiceBinding" name="FilterC32Port">
			<soap:address
				location="http://obhitaqaapp01/Pep/services/filterc32service" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
