DS4P/access-control-service/pep/service/src/main/resources/wsdl/PushFilterC32Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FilterC32Service"
	targetNamespace="http://www.samhsa.gov/ds4ppilot/contract/pushpep"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.samhsa.gov/ds4ppilot/contract/pushpep"
	 xmlns:di="http://www.samhsa.gov/ds4ppilot/schema/pushpep"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
	 >
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.samhsa.gov/ds4ppilot/schema/pushpep">

			<xsd:element name="FilterC32Request">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="patientId" type="xsd:string" />
						<xsd:element name="packageAsXdm" type="xsd:boolean" />
						<xsd:element name="senderEmailAddress" type="xsd:string"/>
						<xsd:element name="recipientEmailAddress" type="xsd:string"/>						
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FilterC32Response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="patientId" type="xsd:string" />
						<xsd:element name="pdpDecision" type="xsd:string"/>
						 <xsd:element name="filteredStreamBody" type="xsd:base64Binary" />
						<xsd:element name="maskedDocument" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<!-- <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="wsmtom_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
<wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
</wsp:Policy> -->
	<wsdl:message name="FilterC32Request">
		<wsdl:part element="di:FilterC32Request" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="FilterC32Response">
		<wsdl:part element="di:FilterC32Response" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="FilterC32ServicePortType">
		<wsdl:operation name="FilterC32">
			<wsdl:documentation>Takes a Patient ID, and returns
				whether the C32 can be sent and formates the C32 in a format
				specified by the privacy policies
			</wsdl:documentation>
			<wsdl:input message="tns:FilterC32Request" />
			<wsdl:output message="tns:FilterC32Response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FilterC32ServiceBinding" type="tns:FilterC32ServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="FilterC32">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PushFilterC32Service">
		<wsdl:port binding="tns:FilterC32ServiceBinding" name="PushFilterC32Port">
			<soap:address
				location="http://obhitaqaapp01/Pep/services/pushfilterc32service" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
