DS4P/access-control-service/pep/service/src/main/resources/XDS.b_registry_messages_and_porttype.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:ihe:iti:xds-b:2007"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="urn:ihe:iti:xds-b:2007" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0"
	xmlns:hl7v3="urn:hl7-org:v3"
	xmlns:message="http://schema.samhsa.gov/ds4p/XDSbRegistry/Message">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:ihe:iti:xds-b:2007/Imports">
			<xsd:import schemaLocation="query.xsd"
				namespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" />
				
			<xsd:import schemaLocation="XDS.b_registry_types.xsd"
				namespace="http://schema.samhsa.gov/ds4p/XDSbRegistry/Message" />
				
			<xsd:import schemaLocation="patient_identity_feed.xsd"
				namespace="urn:hl7-org:v3" />
		</xsd:schema>
		
			<xsd:element name="DirectEmailSendRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="patiendId" type="xsd:string" />
						<xsd:element name="recipientNPI" type="xsd:string" />
						<xsd:element name="senderNPI" type="xsd:string" />
						<xsd:element name="PurposeOfUse" type="xsd:string" />
						<xsd:element name="RecipientEmail" type="xsd:string" />
						<xsd:element name="SenderEmail" type="xsd:string" />
						<xsd:element name="PurposeOfUse" type="xsd:string" maxOccurs="unbounded"/>
						<xsd:element name="requestedDoc" type="xsd:string" />
						<xsd:element name="date" type="xsd:date" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DirectEmailSendResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="return" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
	</wsdl:types>
	<wsdl:message name="XDSRegistry_RegistryStoredQuery_InputMessage">
		<wsdl:part name="input" element="query:AdhocQueryRequest" />
	</wsdl:message>
	<wsdl:message name="XDSRegistry_RegistryStoredQuery_OutputMessage">
		<wsdl:part name="RegistryStoredQueryResult" element="query:AdhocQueryResponse" />
	</wsdl:message>
	<wsdl:message name="XDSRegistry_RegisterDocumentSet_InputMessage">
		<wsdl:part name="input" element="message:RegistryRequest" />
	</wsdl:message>
	<wsdl:message name="XDSRegistry_RegisterDocumentSet_OutputMessage">
		<wsdl:part name="RegisterDocumentSetResult" type="xsd:anyType" />
	</wsdl:message>
	<wsdl:message name="DirectEmailSendInputMessage">
		<wsdl:part element="DirectEmailSendRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DirectEmailSendOutputMessage">
		<wsdl:part element="DirectEmailSendResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="XDSRegistry">
		<wsdl:operation name="RegistryStoredQuery">
			<wsdl:input wsaw:Action="urn:ihe:iti:2007:RegistryStoredQuery"
				message="tns:XDSRegistry_RegistryStoredQuery_InputMessage" />
			<wsdl:output wsaw:Action="urn:ihe:iti:2007:RegistryStoredQueryResponse"
				message="tns:XDSRegistry_RegistryStoredQuery_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="RegisterDocumentSet">
			<wsdl:input wsaw:Action="urn:ihe:iti:2007:RegisterDocumentSet-b"
				message="tns:XDSRegistry_RegisterDocumentSet_InputMessage" />
			<wsdl:output wsaw:Action="urn:ihe:iti:2007:RegisterDocumentSet-bResponse"
				message="tns:XDSRegistry_RegisterDocumentSet_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="DirectEmailSend">
			<wsdl:input wsaw:Action="urn:ihe:iti:2007:DirectEmailSend"
				message="tns:DirectEmailSendInputMessage" />
			<wsdl:output wsaw:Action="urn:ihe:iti:2007:RegisterDocumentSet-bResponse"
				message="tns:DirectEmailSendOutputMessage" />
		</wsdl:operation>

	</wsdl:portType>
</wsdl:definitions>